<table class="table">
  <thead>
    <th>出租物</th>
    <th>金額</th>
    <th>期間</th>
    <th>評價</th>
    <th>#</th>
  </thead>
  <tbody>
  <% @rent_records.each do |rent_record| %>
    <tr>
      <td><%= link_to(rent_record.item.name, item_path(rent_record.item)) %></td>
      <td><%= rent_record.price %></td>
      <td><%= "#{rent_record.started_at} ~ #{rent_record.ended_at}" %></td>
      <td>
        <%= link_to(rent_record.item.lender.email, user_path(rent_record.item.lender)) %>
        :
        <%= rent_record.review_of(current_user).rate %>
      </td>
      <td>
        <%= link_to("查閱", item_rent_record_path(rent_record.item, rent_record)) %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
