<table class="table">
  <thead>
    <th>出租物</th>
    <th>租用金額</th>
    <th>期間</th>
    <th>狀態</th>
    <th>評價</th>
    <th>#</th>
  </thead>
  <tbody>
  <% @rent_records.each do |rent_record| %>
    <tr>
      <td><%= link_to(rent_record.item.name, item_path(rent_record.item)) %></td>
      <td><%= rent_record.currency_price %></td>
      <td><%= "#{rent_record.started_at} ~ #{rent_record.ended_at}" %></td>
      <td><%= rent_record.aasm_state %></td>
      <td>
        <%= link_to(rent_record.item.lender.email, user_path(rent_record.item.lender)) %>
        :
        <%= rent_record.review_of_user(current_user).rate %>
      </td>
      <td>
        <%= render_operate_rent_record_links(rent_record) %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
