<%= simple_form_for [item, rent_record] do |f| %>
  <div class="form-group">
    <div class="col-sm-2 control-label">
      <label>承租物</label>
    </div>

    <div class="col-sm-7">
      <%= text_field_tag nil, item.name, class: "form-control", disabled: true %>
    </div>
  </div>

  <%= f.input :name %>
  <%= f.input :phone %>
  <%= f.input :started_at, as: :date_time_picker %>
  <%= f.input :ended_at, as: :date_time_picker %>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="item-price-days">
        承租天數∶<span id="rent_days"></span>
        總金額∶<span id="total_price"></span>
      </div>

      <%= f.button :submit, "預約" %>
    </div>
  </div>

<% end %>

<%= hidden_field_tag :minimun_period, item.minimum_period %>
<%= hidden_field_tag :item_price, item.price %>

<%= render partial: "rent_records/calendar", locals: { rent_records_json: @rent_records_json } %>
