<table class="table">
  <thead>
    <tr>
      <th>承租人</th>
      <th>起租日期</th>
      <th>歸還日期</th>
      <th>總天數</th>
      <th>租金</th>
      <th>狀態</th>
      <th>#</th>
    </tr>
  </thead>
  <tbody>
    <% rent_records.each do |rent_record| %>
    <tr>
      <td><%= link_to(rent_record.borrower.email, user_path(rent_record.borrower)) %></td>
      <td><%= render_datetime(rent_record.started_at) %></td>
      <td><%= render_datetime(rent_record.ended_at) %></td>
      <td><%= rent_record.rent_days %></td>
      <td><%= rent_record.currency_price %></td>
      <td><%= rent_record.aasm_state %>
      <td>
        <%= render_operate_rent_record_links(rent_record) %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

