<h4><%= link_to(@item.name, item_path(@item)) %></h4>
<table class="table">
  <thead>
    <tr>
      <th>承租人</th>
      <th>預借時間</th>
      <th>歸還時間</th>
      <th>#</th>
    </tr>
  </thead>
  <tbody>
    <% @item.rent_records.each do |rent_record| %>
    <tr>
      <td><%= link_to(rent_record.name, item_rent_record_path(@item, rent_record)) %></td>
      <td><%= rent_record.started_at %></td>
      <td><%= rent_record.ended_at %></td>
      <td>
        <%= link_to("修改", edit_item_rent_record_path(@item, rent_record)) if rent_record.editable_by?(current_user) %>
        <%= link_to("評價", review_item_rent_record_path(@item, rent_record)) %>
        <%= link_to("已借出", "/") %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
