<% breadcrumb :rent_record, @item, @rent_record %>

<div class="btn-group pull-right">
  <%= render_operate_rent_record_links(@rent_record) %>
</div>

<table class="table">
  <thead>
    <tr>
      <td></td>
      <td>
        <span>出租者</span>
        <%= render_cl_avatar_sm(@item.lender) %>
      </td>
      <td>
        <span>承租者</span>
        <%= render_cl_avatar_sm(@rent_record.borrower) %>
      </td>
    </tr>

    <tr>
      <td>電子郵件</td>
      <td><%= link_to(@item.lender.email, user_path(@item.lender)) %></td>
      <td><%= link_to(@rent_record.borrower.email, user_path(@rent_record.borrower)) %></td>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>姓名</td>
      <td><%= @item.lender.profile.name %></td>
      <td><%= @rent_record.borrower.profile.name %></td>
    </tr>

    <tr>
      <td>電話</td>
      <td><%= @item.lender.profile.phone %></td>
      <td><%= @rent_record.borrower.profile.phone %></td>
    </tr>

    <tr>
      <td>評價</td>
      <td><%= @rent_record.review_of_judger(@item.lender).human_rate %></td>
      <td><%= @rent_record.review_of_judger(@rent_record.borrower).human_rate %></td>
    </tr>

    <tr>
      <td>承租物</td>
      <td colspan="2"><%= link_to(@item.name, item_path(@item)) %></td>
    </tr>

    <tr>
      <td>狀態</td>
      <td colspan="2"><%= @rent_record.aasm.human_state %></td>
    </tr>

    <tr>
      <td>租金</td>
      <td colspan="2"><%= @rent_record.currency_price %></td>
    </tr>

    <tr>
      <td>承租物</td>
      <td colspan="2"><%= @item.name %></td>
    </tr>

    <tr>
      <td>租期</td>
      <td colspan="2"><%= render_datetime_period(@rent_record, :tw) %></td>
    </tr>
  </tbody>
</table>
