<div>
  <div>承租物∶<%= link_to(@item.name, item_path(@item)) %></div>
  <div>
    會員帳號∶
    <%= link_to(@rent_record.borrower.email, user_path(@rent_record.borrower)) %>
  </div>
  <div>承租人∶<%= @rent_record.name %></div>
  <div>電話∶<%= @rent_record.phone %></div>
  <div>交易狀態∶<%= @rent_record.aasm.human_state %></div>
  <div>起租日期∶<%= render_datetime(@rent_record.started_at) %></div>
  <div>迄租日期∶<%= render_datetime(@rent_record.ended_at) %></div>
  <% #TODO: 顯示評價 %>
  <div>承租人評價</div>

  <%= render_edit_rent_record_link(@rent_record) %>
  <%= link_to("簡易契約檔案", item_rent_record_path(@item, @rent_record, format: :pdf), target: :_blank, class: "btn btn-warning") %>
</div>
