<div>
  <div><%= link_to(@item.name, item_path(@item)) %></div>
  <div>
    會員帳號∶
    <%= link_to(@rent_record.borrower.email, user_path(@rent_record.borrower)) %>
  </div>
  <% #TODO: 顯示評價 %>
  <div>承租人評價</div>
  <div><%= @rent_record.name %></div>
  <div><%= @rent_record.borrower.email %></div>
  <div><%= @rent_record.phone %></div>
  <div><%= @rent_record.started_at %></div>
  <div><%= @rent_record.ended_at %></div>
  <%= link_to("修改資訊", edit_item_rent_record_path(@item, @rent_record)) %>
  <%= link_to("下載契約檔案", item_rent_record_path(@item, @rent_record, format: :pdf)) %>
</div>
