<h4>您好, <%= @user.email %></h4>

<p>
<%= @judger.email %>對<%= link_to("#{@item.name}承租交易", item_rent_record_url(@item, @review.rent_record)) %>做出了評價∶

<%= "#{@judger.email}∶#{@review.rate}" %>
<%= @review.content %>

並邀請您對他<%= link_to("評價", review_item_rent_record_url(@item, @review.rent_record)) %>，謝謝
</p>
