<h2>變更密碼</h2>

<%= simple_form_for @user, url: settings_account_path, method: :put do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>
    <%= f.input :password, autocomplete: "off", hint: t("devise.views.edit_password_hint"), required: false %>
    <%= f.input :password_confirmation, required: false %>
    <%= f.input :current_password, required: true %>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.button :submit, "變更" %>
    </div>
  </div>
<% end %>
