<h3><%= link_to(current_user.email, user_path(current_user)) %></h3>
<%= render_cl_image_small @profile.picture.public_id if @profile.picture %>

<%= simple_form_for @profile do |f| %>
  <%= f.simple_fields_for :picture, @profile do |p| %>
    <%= p.input :public_id, as: :file_select %>
    <%= current_user.profile.errors[:pictures].first %>

    <%= @profile.errors[:picture].first %>
  <% end %>

  <%= f.input :name %>
  <%= f.input :phone %>
  <%= f.input :address %>
  <%= f.input :description %>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.button :submit, "編輯" %>
    </div>
  </div>
<% end %>
