<div class="col-xs-offset-4 col-sm-offset-3 profile-picture">
  <%= render_cl_avatar_md current_user %>
</div>

<%= simple_form_for @profile do |f| %>
  <div class="form-group">
    <div class="col-xs-4 col-sm-3 control-label">
      <label>電子郵件</label>
    </div>

    <div class="col-xs-6 col-sm-6">
      <%= text_field_tag nil, @profile.user.email, class: "form-control", disabled: true %>
    </div>
  </div>

  <%= f.simple_fields_for :picture, @profile do |p| %>
    <%= p.input :public_id, as: :file_select %>
    <%= current_user.profile.errors[:pictures].first %>

    <%= @profile.errors[:picture].first %>
  <% end %>

  <%= f.input :name %>
  <%= f.input :phone %>
  <%= f.input :address %>
  <%= f.input :description %>

  <div class="form-group">
    <div class="col-xs-offset-4 col-xs-offset-8 col-sm-offset-3 col-sm-9">
      <%= f.button :submit, "編輯" %>
    </div>
  </div>
<% end %>
