<div>
  <h4><%= link_to(@user.email, user_path(@user)) %></h4>
  <div><%= render_follow_link(@user) if current_user != @user %></div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#items" aria-controls="items" role="tab" data-toggle="tab">出租物</a></li>
    <li role="presentation"><a href="#requirements" aria-controls="requirements" role="tab" data-toggle="tab">求租物</a></li>
    <li role="presentation" class="dropdown">
      <%= link_to("#", class: "dropdown-toggle",
                       id: "reviews-dropdown",
                       data: { toggle: :dropdown },
                       aria: { controls: "reviews-tabs" }) do %>
        評價
        <span class="caret"></span>
      <% end %>
      <ul class="dropdown-menu" role="menu" aria-labelledby="reviews-dropdown" id="reviews-content">
        <li>
          <%= link_to("承租評價", "#borrower-reviews", id: "borrower-dropdown", tabindex: "-1", role: "tab", data: { toggle: "tab" }, aria: { controls: "borrower-reviews"}) %>
        </li>
        <li>
          <%= link_to("出租評價", "#lender-reviews", id: "lender-dropdown", tabindex: "-1", role: "tab", data: { toggle: "tab" }, aria: { controls: "lender-reviews"}) %>
        </li>
      </ul>
    </li>

    <li role="presentation" class="dropdown">
      <%= link_to("#", class: "dropdown-toggle",
                       id: "like-dropdown",
                       data: { toggle: :dropdown },
                       aria: { controls: "like-tabs" }) do %>
        喜愛
        <span class="caret"></span>
      <% end %>
      <ul class="dropdown-menu" role="menu" aria-labelledby="like-dropdown" id="like-content">
        <li>
          <%= link_to("追蹤", "#user-follow", id: "following-dropdown", tabindex: "-1", role: "tab", data: { toggle: "tab" }, aria: { controls: "user-follow"}) %>
        </li>
        <li>
          <%= link_to("收藏", "#item-collect", id: "collecting-dropdown", tabindex: "-1", role: "tab", data: { toggle: "tab" }, aria: { controls: "item-collect"}) %>
        </li>
      </ul>
    </li>
  </ul>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="items">
      <%= render partial: "items/item", collection: @user.items, as: :item %>
    </div>

    <div role="tabpanel" class="tab-pane" id="requirements">
      <% @user.requirements.each do |requirement| %>
        <%= link_to(requirement.name, requirement_path(requirement)) %>
        <%= requirement.price %>
      <% end %>
    </div>

    <div role="tabpanel" class="tab-pane" id="borrower-reviews">
      <% @user.borrower_reviews.each do |review| %>
        <%= review.rate %>
      <% end %>
    </div>

    <div role="tabpanel" class="tab-pane" id="lender-reviews">
      <% @user.lender_reviews.each do |review| %>
        <%= review.rate %>
      <% end %>
    </div>

    <div role="tabpanel" class="tab-pane" id="user-follow">
      user.follow
    </div>

    <div role="tabpanel" class="tab-pane" id="item-collect">
      item.collect
    </div>
  </div>

</div>
