<div>
  <h4><%= @user.email %></h4>
  <% if current_user != @user %>
    <div><%= render_follow_link(@user) %></div>
  <% end %>

  <div>
  <% @user.items.each do |item| %>
    <%= link_to(item.name, item_path(item)) %>
    <%= item.price %> / <%= item.period %>
  <% end %>
  </div>
</div>
