<div class="row">
  <div class="col-md-3">
    <div class="user-aside">
      <div class="user-avatar"><%= render_cl_avatar_lg(@user) %></div>

      <div class="panel panel-default">
        <div class="panel-heading">總評價</div>
        <table class="table table-bordered text-center">
          <thead>
            <tr>
              <th class="text-center">正評</th>
              <th class="text-center">負評</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= @total_reviews[Review.rates[:good]] || 0 %></td>
              <td><%= @total_reviews[Review.rates[:bad]] || 0 %></td>
            </tr>
          </tbody>
        </table>
      </div>

      <% if @items.size > 0 %>
        <h3>出租物 <%= content_tag(:small, "(#{@items.size})") %></h3>
        <ul class="user-item-list">
          <% @items.limit(3).each do |item| %>
            <li class="item">
              <%= link_to item_path(item) do %>
                <%= render_cl_image_sm(item.index_picture_public_id) %>
                <div class="carousel-caption"><%= render_item_name(item, 12) %></div>
              <% end %>
            </li>
          <% end %>
          <li class="item"><%= link_to("+ 看更多", search_path(user_id: @user)) if @items.size > 3 %></li>
        </ul>
      <% end %>
    </div>
  </div>

  <div class="col-md-9">
    <h2 class="user-account clearfix">
      <span class="text-muted">您好，我是<%= @user.account %></span>
      <div class="pull-right"><%= render_follow_link(@user) %></div>
    </h2>

    <% unless @profile.description.nil? %>
    <div class="panel panel-default">
      <div class="panel-heading">描述</div>
      <div class="panel-body"><%= raw @profile.description %></div>
    </div>
    <% end %>

    <% unless @lender_reviews.empty? && @borrower_reviews.empty? %>
      <%= content_tag(:h3, "評價") %>
      <% unless @borrower_reviews.empty? %>
        <h4 class="text-warning">出租者評價</h4>
        <%= render partial: "reviews/review", collection: @borrower_reviews, as: :review %>
      <% end %>
      <% unless @lender_reviews.empty? %>
        <h4 class="text-warning">承租者評價</h4>
        <%= render partial: "reviews/review", collection: @lender_reviews, as: :review %>
      <% end %>
    <% end %>
  </div>
</div>
