
<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <div class="form-group">
    <h2 class="col-xs-offset-4 col-xs-8 col-sm-offset-3 col-sm-9">
      <%= t("devise.views.forgot_password") %>
    </h2>

    <div class="col-xs-offset-4 col-xs-8 col-sm-offset-3 col-sm-9">
      <%= f.error_notification %>
    </div>
  </div>

  <%= f.input :email, required: true, autofocus: true %>

  <div class="form-group">
    <div class="col-xs-offset-4 col-xs-8 col-sm-offset-3 col-sm-9 form-actions">
      <%= f.button :submit, t("devise.views.reset_password") %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-xs-offset-4 col-xs-8 col-sm-offset-3 col-sm-9 form-actions">
      <%= render "devise/shared/links" %>
    </div>
  </div>
<% end %>

