<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group">
    <h2 class="col-xs-offset-4 col-xs-8 col-sm-offset-3 col-sm-9">
      <%= t("devise.views.sign_in") %>
    </h2>
  </div>

  <%= f.input :login,
              required: false,
              autofocus: true,
              input_html: { placeholder: t("simple_form.labels.user.login") } %>

  <%= f.input :password,
              required: false,
              input_html: { placeholder: t("simple_form.labels.user.password") } %>

  <div class="form-group">
    <%= f.input :remember_me,
                as: :boolean,
                wrapper: :default,
                wrapper_html: { class: "col-xs-offset-4 col-xs-8 col-sm-offset-3 col-sm-9 checkbox" } %>
  </div>

  <div class="form-group">
    <div class="col-xs-offset-4 col-xs-8 col-sm-offset-3 col-sm-9">
      <%= f.button :submit, t("devise.views.sign_in") %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-xs-offset-4 col-xs-8 col-sm-offset-3 col-sm-9">
      <%= render "devise/shared/links" %>
    </div>
  </div>
  <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
<% end %>
