<%= render partial: "settings/items/search" %>

<table class="table table-borded table-hover">
  <thead>
    <tr>
      <th>名稱</th>
      <th>價格</th>
      <th>預訂中</th>
      <th>成功出租</th>
      <th>退租</th>
      <th>出租中</th>
      <th>#</th>
    </tr>
  </thead>
  <tbody>
  <% @items.each do |item| %>
    <tr>
      <td><%= link_to(item.name, item_path(item)) %></td>
      <td><%= item.price_period %></td>
      <td><%= @rent_records_count[[item.id,"booking"]] %></td>
      <td><%= @rent_records_count[[item.id,"returned"]] %></td>
      <td><%= @rent_records_count[[item.id,"withdrawed"]] %></td>
      <td><%= render_renting_checkbox(@rent_records_count[[item.id,"renting"]]) %>
      <td class="btn-group">
        <%= link_to(render_icon("list-alt", class: "text-primary"), item_rent_records_path(item),
                    class: "btn btn-default", title: "出租紀錄", data: { toggle: "tooltip" }) %>
        <%= link_to(render_icon("edit", class: "text-success"), edit_item_path(item),
                    class: "btn btn-default", title: "修改", data: { toggle: "tooltip" }) %>
        <%= link_to(render_icon("trash", class: "text-danger"), item_path(item),
                    class: "btn btn-default", method: :delete, title: "刪除", data: { toggle: "tooltip", confirm: "確定要刪除#{item.name}嗎？"}) %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= render_default_content(@items) do %>
  沒有出租物！馬上
  <mark>
    <%= link_to("新增", new_item_path, class: "text-danger") %>
  </mark>
<% end %>
