<%= render partial: "settings/items/search" %>

<div class="span12">
  <table class="table table-borded table-hover">
    <thead>
      <tr>
        <th>名稱</th>
        <th>價格</th>
        <th>預訂中</th>
        <th>成功出租</th>
        <th>退租</th>
        <th>出租中</th>
        <th>#</th>
      </tr>
    </thead>
    <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= link_to(item.name, item_path(item)) %></td>
        <td><%= item.price_period %></td>
        <td><%= @rent_records_count[[item.id,"booking"]] %></td>
        <td><%= @rent_records_count[[item.id,"returned"]] %></td>
        <td><%= @rent_records_count[[item.id,"withdrawed"]] %></td>
        <td><%= render_renting_checkbox(@rent_records_count[[item.id,"renting"]]) %>
        <td class="btn-group">
          <%= link_to(render_icon("list-alt", class: "text-primary"), item_rent_records_path(item), class: "btn btn-default") %>
          <%= link_to(render_icon("edit", class: "text-success"), edit_item_path(item), class: "btn btn-default") %>
          <%= link_to(render_icon("trash", class: "text-danger"), item_path(item),
                      class: "btn btn-default", method: :delete, data: { confirm: "確定要刪除#{item.name}嗎？"}) %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
