<%= simple_form_for item do |f| %>
  <%= f.simple_fields_for :pictures, item.pictures.build do |p| %>
    <%= p.input :public_id, as: :file_select, input_html: { multiple: true } %>
    <%= item.errors[:pictures].first %>
  <% end %>

  <%= f.input :name %>
  <%= f.input :subcategory_id, as: :grouped_select,
              collection: Category.includes(:subcategories).all,
              group_method: :subcategories %>
  <%= f.input :price, as: :numeric_addon, direction: "元 / 每#{item.period}" %>
  <%= f.input :minimum_period, as: :numeric_addon, direction: item.period %>
  <%= f.input :deposit, as: :numeric_addon, direction: "元" %>
  <%= f.input :address %>
  <%= f.input :description %>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.button :submit, ((params[:action] == "edit") ? "修改" : "新增") %>
    </div>
  </div>
<% end %>
