<div class="item-header clearfix">
  <h3 class="item-title"><%= link_to(item.name, item_path(item)) %></h3>

  <div class="item-action btn-group">
    <%= render_collect_item_links(item) %>
    <%= render_new_rent_record_link(item) %>
  </div>
</div>

<div class="item-show-container">
  <%= render partial: "pictures/picture_carousel", locals: { pictures: item.pictures } %>

  <dl class="dl-horizontal">
    <dt>出租者</dt>
    <dd><%= link_to(item.lender.account, user_path(item.lender)) %></dd>

    <dt>出租物地址</dt>
    <dd><%= item.address %></dd>

    <dt>租金</dt>
    <dd><%= item.price_period %></dd>

    <dt>最短租期</dt>
    <dd><%= "#{item.minimum_period}#{item.period}" %></dd>

    <dt>訂金</dt>
    <dd>$<%= item.down_payment %></dd>

    <dt>押金</dt>
    <dd>$<%= item.deposit %></dd>

    <dt>描述</dt>
    <dd><%= raw item.description %></dd>
  </dl>
</div>
