<ul class="item-list">
<% items.each do |item| %>
  <li class="item-list-cell">
    <%= link_to(render_cl_image_sm(item.index_picture_public_id), item_path(item)) %>
    <%= link_to(item.name, item_path(item)) %>
    <%= item.price_period %>
    <%= item.city %>
    <%= link_to(render_cl_avatar_sm(item.lender), user_path(item.lender), data: { toggle: "tooltip" }, title: item.lender.account) %>
    <%= render_user_reviews(item.lender, @users_reviews_count) %>
  </li>
<% end %>
</ul>
