<table class="table table-hover">
  <thead>
    <tr>
      <th>圖</th>
      <th>名稱</th>
      <th>租金</th>
      <th>地址</th>
      <th>出租人</th>
      <th>評價</th>
    </tr>
  </thead>
  <tbody>
  <% items.each do |item| %>
    <tr>
      <td><%= render_cl_image_sm(item.index_picture_public_id) %></td>
      <td>
        <%= item.name %>
        <%= item.price_period %>
      </td>
      <td><%= item.city %></td>
      <td><%= item.lender.email %></td>
      <td>評價</td>
    </tr>
  <% end %>
  </tbody>
</table>
