<% render_item_index_breadcrumbs(@breadcrumbs_object) %>

<div class="clearfix">
  <div class="btn-group btn-group-sm pull-right">
    <%= active_link_to(render_icon("list"), items_path(view: :list), class: "btn btn-default", role: "botton") %>
    <%= active_link_to(render_icon("th-large"), items_path(view: :grid), class: "btn btn-default") %>
  </div>
</div>

<div id="item-container">
  <%= render partial: "items/#{@view}", locals: { items: @items } %>
</div>

<%= will_paginate @items, class: "hidden-sm hidden-xs" %>
<%= will_paginate @items, class: "hidden-lg hidden-md", page_links: false %>

<%= render_default_content(@items, "沒東西...") %>
