<section>
  <h2><%= link_to(@item.name, item_path(@item)) %></h2>

  <%= render partial: "item_info_container.html.erb", locals: { item: @item } %>

  <div class="item-nav-tab-container">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation">
        <a href="#description" id="nav-tab-description" aria-controls="description" role="tab" data-toggle="tab">介紹</a>
      </li>
      <!-- load calendar first -->
      <li role="presentation" class="active"><a href="#rent-calendar" aria-controls="rent-calendar" role="tab" data-toggle="tab">出租日曆</a></li>
      <li role="presentation"><a href="#records" aria-controls="records" role="tab" data-toggle="tab">出租紀錄</a></li>
      <li role="presentation"><a href="#questions" aria-controls="questions" role="tab" data-toggle="tab">問與答</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane" id="description">
        <%= simple_format @item.description %>
      </div>

      <div role="tabpanel" class="tab-pane active" id="rent-calendar">
        <div id="calendar"></div>
      </div>

      <div role="tabpanel" class="tab-pane" id="questions">
        <%= render partial: "questions/question", collection: @item.questions.includes(:asker) %>
        <%= render partial: "questions/ask_question", locals: { item: @item, question: @question } %>
      </div>

      <div role="tabpanel" class="tab-pane" id="records">
        <%= render partial: "rent_records/rent_record_list", locals: { rent_records: @item.rent_records } %>
      </div>
    </div>

  </div>
</section>

<div class="hide">
  <%= form_for @item, url: new_item_rent_record_path(@item), method: :get, html: { id: "new_rent_record_form" } do %>
    <%= hidden_field_tag :start %>
    <%= hidden_field_tag :end %>
  <% end %>
</div>

<script type="text/javascript">
  $(document).ready(function() {

    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(<%= raw @maps.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
    });

    $('#calendar').fullCalendar({
      height: 600,
      lang: 'zh-tw',
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,agendaWeek,agendaDay'
      },
      events: <%= raw @rent_records_json %>,
      selectable: true,
      select: function(start, end) {
        $('#start').val(start.format('YYYY-MM-DD'));
        $('#end').val(end.format('YYYY-MM-DD'));
        $('#new_rent_record_form').submit();
      }
    });

    $('#nav-tab-description').tab('show');

    if (location.hash != "") {
      $active_tab = $('a[href='+ location.hash + ']');
      $active_tab && $active_tab.click();
    }
  });
</script>
