<section>
  <div>
  <% if current_user && @item.editable_by?(current_user) %>
    <%= link_to("修改", edit_item_path(@item)) %>
    <%= link_to("刪除", item_path(@item), method: :delete, data: { confirm: "確定要刪除嗎？" }) %>
  <% end %>
  </div>

  <div>
    <h2><%= @item.name %></h2>
    <div>
      <div>$<%= @item.price %>/<%= @item.period %></div>
      <div><%= @item.deposit %></div>
      <div><%= @item.address %></div>
      <div><%= @item.description %></div>
    </div>
  </div>

  <section>
    <div>問與答</div>

    <%= render partial: "question", collection: @item.questions.preload(:asker) %>

    <%= simple_form_for [@item, @question] do |f| %>
      <div><%= f.input :content %></div>
      <%= f.submit "發問" %>
    <% end %>
  </section>
</section>
