<div>
  <h2><%= @item.name %></h2>
  <div>
    <div><%= @item.price %></div>
    <div><%= @item.period %></div>
    <div><%= @item.deposit %></div>
    <div><%= @item.address %></div>
    <div><%= @item.description %></div>
  </div>
</div>
