<div class="review-container clearfix">
  <div class="pull-left">
    <%= render_cl_avatar_small review.judger %>
  </div>

  <table class="review-info">
    <tr>
      <td class="text-right">交易人員∶</td>
      <td>
        <%= link_to(review.judger.email, user_path(review.judger)) %>(<%= review.human_rate %>)
      </td>
    </tr>
    <tr>
      <td class="text-right">承租物∶</td>
      <td><%= link_to(review.item.name, item_path(review.item)) %></td>
    </tr>
    <tr>
      <td class="text-right">意見∶</td>
      <td><%= simple_format review.content %></div>
    </tr>
  </table>
</div>
