<div class="panel-collapse">
  <ul class="list-group">
    <li class="list-group-item">
      <%= link_to("基本資料", user_path) %>
    </li>
    <li class="list-group-item">
      <%= link_to("出租物", items_user_path) %>
    </li>
    <li class="list-group-item">
      <%= link_to("出租評價", lender_reviews_user_path) %>
    </li>
    <li class="list-group-item">
      <%= link_to("承租評價", borrower_reviews_user_path) %>
    </li>
    <li class="list-group-item">
      <%= link_to("追蹤", following_user_path) %>
    </li>
    <li class="list-group-item">
      <%= link_to("收藏", items_collect_user_path) %>
    </li>
  </ul>
</div>
