<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
<% @categories.each_with_index do |category, index| %>
  <% id = "#{category.class.name}#{index}" %>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="<%= "heading#{id}" %>">
      <%= content_tag(:h5,
                      link_to(category.name, "#"),
                      class: "panel-title",
                      aria: { expanded: :false, controls: "collapse#{id}" },
                      data: { toggle: :collapse, parent: "#accordion", target: "#collapse#{id}" }) %>
    </div>

    <div id="<%= "collapse#{id}" %>" class="panel-collapse collapse<%= render_aside_category_in_class(index) %>" role="tabpanel" aria-labelledby="<%= "heading#{id}" %>">
      <ul class="list-group">
      <% category.subcategories.each do |subcategory| %>
        <li class="list-group-item">
          <%= link_to(subcategory.name, subcategory_path(subcategory)) %>
        </li>
      <% end %>
      </ul>
    </div>
  </div>
<% end %>
</div>
