<!DOCTYPE html>
<html>
<head>
  <title>Rent</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= yield :javascript %>
</head>
<body>

<h2><%= link_to("Logo", root_path) %></h2>
<%= render partial: "layouts/search" %>
<%= render partial: "layouts/user_login" %>
<%= yield %>

</body>
</html>
