<!DOCTYPE html>
<html>
<head>
  <title>Rent</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= yield :javascript %>

  <script type="text/javascript">
    $(function(){
      $('.stop-bubble').click(function(e) {
        if (e.stopPropagation)
          e.stopPropagation();
        else
          e.cancelBubble = true;
      });
    });
  </script>

</head>
<body>

<header class="site-header">
  <div class="header-container clearfix">
    <h1><%= link_to("MaxRent", root_path, class: "maxrent-logo pull-left") %></h1>

    <div class="site-navbar">
      <%= render partial: "layouts/user_login" %>
      <%= render partial: "layouts/search" %>
    </div>
  </div>
</header>

<div id="site-content" class="container-fluid clearfix">
  <div class="sidebar pull-left">
    <%= render_aside %>
  </div>

  <div class="main-content pull-left">
    <%= render_notice(notice) %>
    <%= render_alert(alert) %>
    <%= yield %>
  </div>
</div>

</body>
</html>
