<!DOCTYPE html>
<html>
<head>
  <title>Rent</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= yield :javascript %>
</head>
<body>

<h2><%= link_to("Logo", root_path) %></h2>
<%= render partial: "layouts/search" %>
<%= render partial: "layouts/user_login" %>
<%= render_categories_aside %>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>

<script type="text/javascript">
  $(function(){
    $('.stop-bubble').click(function(e) {
      if (e.stopPropagation)
        e.stopPropagation();
      else
        e.cancelBubble = true;
    });
  });
</script>

</body>
</html>
