<!DOCTYPE html>
<html>
<head>
  <title>Rent</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= yield :javascript %>
</head>
<body class="body-aside">

<%= render partial: "common/header" %>

<div class="container-fluid" role="main">
  <div class="row">
    <aside class="col-md-2 sidebar">
      <%= render_aside_navigation %>
    </aside>

    <section class="col-md-10 col-md-offset-2">
      <%= render_notice(notice) %>
      <%= render_alert(alert) %>
      <%= yield %>
    </section>
  </div>
</div>

</body>
</html>
